@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 90%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.top-header {
  padding: 12px 0;
  background-color: #171725;
}

ul.top-header-contact-info li a {
  margin-right: 71px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

a.facebook::before {
  content: "\f39e";
  color: #171725;
  font-family: "fontAwesome";
  font-size: 12px;
}

a.twitter::before {
  content: "\f099";
  color: #171725;
  font-family: "fontAwesome";
  font-size: 12px;
}

a.linkedin::before {
  content: "\f0e1";
  color: #171725;
  font-family: "fontAwesome";
  font-size: 12px;
}

a.instagram::before {
  content: "\f16d";
  color: #171725;
  font-family: "fontAwesome";
  font-size: 12px;
}

ul.top-header-contact-info {
  width: 76%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

ul.header-social li a {
  width: 20px;
  height: 19px;
  border-radius: 50px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

ul.header-social { display: flex; }

a.header-number::before {
  margin-right: 10px;
  content: "\f095";
  font-family: "FontAwesome";
}

a.header-email::before {
  margin-right: 10px;
  content: "\f0e0";
  font-family: "FontAwesome";
}

.bottom-header .wrapper { width: 69%; }

.bottom-header-content {
  padding: 18px 45px 18px 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

h1.logo a {
  color: #282229;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

ul.menu li a {
  padding: 11px 19px 11px 19px;
  color: #333;
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

ul.menu li a:hover {
  background-color: #fa9c1c;
  border-radius: 5px;
  color: #fff;
}

.hamburger {
  display: block;
  position: absolute;
  z-index: 20;
  top: 36%;
  right: 9%;
}

.hamburger .bar {
  display: block;
  height: 4px;
  margin: 5px 0;
  background-color: #fd9a00;
  font-size: 0;
  text-indent: 0;
}

.hamburger {
  position: absolute;
  top: 14%;
  padding: 8px 10px;
  font-size: 20px;
}

.icon-bars {
  width: 32px;
}

.hamburger {
  display: none;
}

span.search {
  position: absolute;
  top: 33px;
  right: 28px;
  text-indent: -99999px;
}

span.search::before {
  float: left;
  content: "\f002";
  font-family: "fontAwesome";
  font-size: 11px;
  text-indent: 0;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
header {
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 0;
}

section.banner { position: relative; }

section.banner .wrapper { width: 68%; }

.not-show { display: none; }

figure.banner-img { height: 667px; }

li.banner-content { width: 100%; }

.banner-heading-para {
  position: absolute;
  top: 34%;
}

h2.banner-heading {
  color: #fff;
  font-family: 'Poppins';
  font-size: 80px;
  font-weight: 800;
  text-transform: capitalize;
}

p.banner-para {
  width: 68%;
  color: #fff;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 500;
  line-height: 1.8;
}

a.banner-button {
  padding: 12px 62px;
  margin-top: 43px;
  background-color: #fa9c1c;
  border-radius: 4px;
  color: #fff;
  font-family: 'Poppins';
  text-transform: uppercase;
}

a.banner-button:hover {
  border: 1px solid #f69e29;
  background-color: #fff;
  color: #333;
}

.banner-controller {
  position: absolute;
  right: 8%;
  bottom: -24px;
}

.banner-controller .left-arrow::before {
  float: left;
  color: #fff;
  content: '\f053';
  font-family: 'FontAwesome';
  font-size: 21px;
  text-indent: 0;
}

span.left-arrow {
  display: inline-block;
  text-indent: -99999px;
}

.banner-controller .right-arrow::before {
  float: left;
  color: #fff;
  content: '\f054';
  font-family: 'FontAwesome';
  font-size: 21px;
  text-indent: 0;
}

span.right-arrow {
  display: inline-block;
  text-indent: -99999px;
}

.banner-controller span {
  padding: 18px 22px;
  border-radius: 50%;
  margin-right: 14px;
  background: #181627;
  cursor: pointer;
}

.banner-controller span:hover { background-color: #fa9b1c; }
/* services icon css  */

ul.services-list {
  position: absolute;
  top: -65px;
}

.services .wrapper {
  width: 69%;
  position: relative;
}

ul.services-list li {
  width: 212px;
  height: 100%;
  padding: 27px 0px 17px 0;
  border: 1px solid #efefef;
  margin-right: 21px;
  background-color: #fff;
}

figure.service-img {
  width: 65px;
  margin: 0 auto;
}

figcaption.service-heading {
  padding-top: 21px;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

/* about us css  */
section.about { margin-top: 156px; }

section.about .wrapper { width: 90%; }


.about-us {
  display: flex;
  justify-content: space-between;
}

.about-content h3 {
  margin: 104px 0 25px 0;
  color: #252827;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}

p.about-para {
  padding-right: 46px;
  color: #242424;
  font-family: 'Poppins';
  font-size: 13px;
}

.about-content {
  margin-left: 14%;
  flex-basis: 100%;
}

a.read-more-btn {
  padding: 16px 40px;
  border-radius: 7px;
  margin-top: 46px;
  background-color: #191918;
  color: #ffff;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

a.read-more-btn:hover { background-color: #fa9b1c; }

figure.about-img {
  width: 75%;
  position: relative;
}

/* project section css  */
section.project { margin: 74px 0 116px 0; }

.project h3.section-heading {
  color: #252827;
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

.project p.section-para {
  padding: 7px 0 46px 0;
  color: #252827;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

ul.project-list {
  display: flex;
  position: relative;
}

ul.project-list li { margin-right: 22px; }

figcaption.project-heading {
  padding-left: 15px;
  position: absolute;
  bottom: 25px;
  color: #fff;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
}

figcaption.project-heading span { display: block; }

.project-contoller {
  margin-top: 20px;
  text-align: center;
}

.project-contoller span {
  padding: 11px 14px;
  border-radius: 50%;
  margin-right: 18px;
  background: #252525;
  cursor: pointer;
}

span.left-arrow {
  display: inline-block;
  text-indent: -99999px;
}

.project-contoller .left-arrow::before {
  float: left;
  color: #fff;
  content: '\f060';
  font-family: 'FontAwesome';
  font-size: 17px;
  text-indent: 0;
}

span.right-arrow {
  display: inline-block;
  text-indent: -99999px;
}

.project-contoller .right-arrow::before {
  float: left;
  color: #fff;
  content: '\f061';
  font-family: 'FontAwesome';
  font-size: 17px;
  text-indent: 0;
}

.project-contoller span:hover {
  background-color: #fa9b1c;
}

/* why choose section css  */

section.why-choose {
  padding: 40px 0 80px 0;
  background-image: url(../../assets/images/choose_bg.jpg);
  background-size: 100% 100%;
}

section.why-choose .wrapper { width: 69%; }

.choose-us-content h4 {
  padding-bottom: 17px;
  color: #1f283a;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.choose-us-content p {
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
}

.choose-us-content { width: 51%; }

ul.choose-img {
  margin-top: 69px;
  display: flex;
  align-items: baseline;
}

ul.choose-img li { margin-right: 10px; }

figure.award-img {
  width: 59px;
  height: 62px;
  padding: 22px 30px;
  border-radius: 8px;
  margin: 0 auto;
  background-color: #fff;
}

figcaption.client-heading {
  padding-top: 11px;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

ul.choose-img li { width: 30%; }

/* staff section css  */
section.staff {
  padding-top: 68px;
  background-color: #fffbfb;
}

section.staff .wrapper { width: 76%; }

h3.staff-heading {
  color: #252827;
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

p.staff-para {
  padding: 7px 0 46px 0;
  color: #252827;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

ul.staff-details {
  display: flex;
  justify-content: space-between;
}

ul.staff-details li { margin-right: 10px; }

figure.staff-img {
  width: 169px;
  padding: 41px 15px 0 15px;
  margin: 0 auto;
  background-color: #cdc8c8;
}

.staff-content {
  padding: 0 44px 10px 44px;
  border-radius: 4px;
  background: #fd9a00;
}

.staff-content figcaption {
  padding: 10px 0;
  color: #fff;
  font-family: 'Poppins';
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

ul.staff-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.staff-social li a {
  padding: 8px 11px;
  border-radius: 50%;
  background-color: #fff;
}

ul.staff-social li { margin-right: 3px; }

.staff-social li a.facebook::before {
  content: "\f39e";
  color: #fd9a00;
  font-family: "fontAwesome";
  font-size: 15px;
}

.staff-social li a.twitter::before {
  content: "\f099";
  color: #fd9a00;
  font-family: "fontAwesome";
  font-size: 15px;
}

.staff-social li a.linkedin::before {
  content: "\f0e1";
  color: #fd9a00;
  font-family: "fontAwesome";
  font-size: 15px;
}

.staff-social li a.instagram::before {
  content: "\f16d";
  color: #fd9a00;
  font-family: "fontAwesome";
  font-size: 15px;
}

.see-more {
  margin-top: 47px;
  text-align: center;
}

.see-more a {
  padding: 13px 41px;
  border-radius: 4px;
  background: #191918;
  color: #fff;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.see-more a:hover { background-color: #fa9b1c; }

/* contact us css  */
section.contact {
  margin-top: 72px;
}

section.contact .wrapper {
  width: 66%;
}

h4.contact-heading {
  margin-bottom: 24px;
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}

ul.contact-details {
  display: flex;
  justify-content: space-between;
}

ul.contact-details li { width: 50%; }

ul.contact-details li form {
  padding: 29px 55px;
  background: #f5f5f5;
}

.form-input-container input {
  width: 86%;
  padding: 12px 16px;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 5px 0 8px #fff;
  font-family: 'Poppins';
}

.form-textarea-container textarea {
  width: 86%;
  padding: 12px 16px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 5px 0 8px #fff;
  font-family: 'Poppins';
}

.form-button-container input {
  padding: 11px 40px;
  border: none;
  background-color: #333;
  color: #fff;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

iframe.gmap_iframe {
  width: 100%;
  height: 383px;
}

.form-button-container input:hover {
  background-color: #fff;
  border: 1px solid #e49225;
  color: #333;
}

/* truck section  */
.truck-background {
  margin-top: 67px;
}

.truck-background .wrapper {
  width: 68%;
}

ul.truck {
  display: flex;
  position: relative;
  justify-content: space-between;
}

figure.truck-img {
  width: 180px;
  height: 115px;
}

img.left-truck {
  margin-left: 53%;
}

img.jcb-truck {
  width: 180px;
  position: absolute;
  right: -24px;
}

/* testimonial section  */
section.testimonial { 
  background-color: #161624;
  padding-top: 76px;
}

section.testimonial .wrapper { width: 44%; }

.testimonial h3.section-heading { 
  color: #fff; 
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

.testimonial p.section-para { 
  padding-bottom: 32px;
  color: #fff; 
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

figure.client-img {
  width: 93px;
  position: relative;
  top: 69px;
  left: 12%;
}

.testi-img {
  border-radius: 5px 5px 0 0;
  background: #fa9b1c;
}

.testi-img::after {
  padding: 3px 8px;
  position: relative;
  top: 12px;
  left: 5%;
  background-image: url(/assets/images/t.png);
  color: #fa9b1c;
  content: '\f0f0';
}

.testi-img::before {
  padding: 3px 8px;
  position: relative;
  top: 124px;
  left: 30%;
  background-image: url(/assets/images/t.png);
  color: #fa9b1c;
  content: '\f0f0';
}

.testimonials-details {
  border-radius: 5px;
  background: #fff;
}

.testi-content { padding: 52px 66px 24px 66px; }

.testi-content h4 {
  padding-bottom: 8px;
  font-family: 'Poppins';
  font-size: 23px;
}

.testi-content p {
  font-family: 'Poppins';
  font-size: 14px;
}

.testimonial-contoller span {
  padding: 11px 14px;
  border-radius: 50%;
  background: #252525;
  cursor: pointer;
}

span.left-arrow {
  display: inline-block;
  text-indent: -99999px;
}

.testimonial-contoller .left-arrow::before {
  float: left;
  color: #fff;
  content: '\f060';
  font-family: 'FontAwesome';
  font-size: 17px;
  text-indent: 0;
}

span.right-arrow {
  display: inline-block;
  text-indent: -99999px;
}

.testimonial-contoller .right-arrow::before {
  float: left;
  color: #fff;
  content: '\f061';
  font-family: 'FontAwesome';
  font-size: 17px;
  text-indent: 0;
}

.testimonial-contoller span:hover { background-color: #fa9b1c; }

.testimonial-contoller { 
  margin-left: 2px; 
  padding-bottom: 8px;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

section.footer {
  background-color: #171524;
  padding-top: 75px;
}

section.footer .wrapper { width: 69%; }

ul.footer-links {
  padding-bottom: 80px;
  display: flex;
  align-items: baseline;
}

h4.footer-logo {
  padding-bottom: 14px;
  color: #fff;
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

p.footer-para {
  color: #fff;
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 26px;
}

/* ul.footer-links li { flex-basis: 22%; } */

ul.footer-links li.footer-link-content:first-child { margin-right: 98px; }

h5.footer-heading {
  width: fit-content;
  padding-bottom: 9px;
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
  color: #fff;
  font-family: 'Poppins';
  font-weight: 600;
  text-transform: uppercase;
}

ul.footer-menu {
  display: flex;
  flex-direction: column;
}

ul.footer-menu li a {
  padding-bottom: 4px;
  color: #fff;
  font-family: 'Poppins';
  font-size: 14px;
  text-transform: capitalize;
}

figure.insta-img {
  width: 75px;
  margin: 0 6px 6px 0;
}

ul.footer-links > li:nth-child(1) {
  width: 28%;
  margin-right: 87px;
}

ul.footer-links > li:nth-child(2) {
  width: 24%;
}

ul.footer-links > li:nth-child(3) {
  width: 32%;
}

ul.footer-links > li:nth-child(4) {
  width: 34%;
}


.footer-form-input input {
  width : 90%;
  padding: 10px;
  border: 1px solid #898787;
  margin-bottom: 14px;
  background-color: transparent;
  font-family: 'Poppins';
  font-size: 13px;
}

.footer-form-button input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #898787;
  background-color: transparent;
  color: #fff;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}

.footer-bottom {
  width: 70%;
  padding: 20px 0 20px 0;
  border-top: 1px solid;
  margin: 0 auto;
  color: #fff;
  font-family: 'Poppins';
  font-size: 14px;
  text-align: center;
}
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {
  
  ul.services-list li { width: 190px; }
  
  .staff-content { padding: 0 30px 10px 30px; }

  .testi-img::before { left: 33%; }

}

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  
  ul.services-list li { margin-right: 8px; }
  
  figure.award-img {
    width: 52px;
    height: 52px;
  }

  ul.footer-links > li:nth-child(1) {
    width: 25%;
    margin-right: 40px;
  }

  ul.footer-links > li:nth-child(2) {  width: 24%; }

  ul.footer-links > li:nth-child(3) { width: 31%; }

  ul.footer-links > li:nth-child(4) { width: 32%;  }
}

/*media query for 992px starts here*/
@media only screen and (max-width: 992px) { 

  ul.top-header-contact-info li a { margin-right: 0;  }

  ul.header-social > li { margin-right: 6px; }

  ul.menu, 
  span.search { display: none; }

  .hamburger { display: inline-block; }

  h2.banner-heading { font-size: 60px; }

  .banner-controller {
    right: 16%;
    bottom: 84px;
  }

  .services .wrapper { width: 72%; }
  
  ul.services-list li { width: 170px; }

  .staff-content { padding: 0 24px; }

  figure.award-img {
    width: 48px;
    height: 48px;
  }

  ul.staff-details {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  ul.staff-details li {
    margin-bottom: 12px;
    width: 47%;
  }

  figure.staff-img {  width: 80%;  }

  figure.client-img { top: 50px;  }

  .testi-img::before { display: none; }

  .testi-img::after { display: none; }

  img.left-truck { margin-left: 0; }

  ul.footer-links > li { margin-right: 10px; }
  
  .choose-us-content { width: 68%; }

}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) { 

  ul.top-header-contact-info > li:nth-child(1),
  ul.top-header-contact-info > li:nth-child(3) { display: none; }

  ul.top-header-contact-info { justify-content: center; }

  .bottom-header .wrapper { width: 88%; }

  section.banner .wrapper { width: 88%; }

  .banner-heading-para { top: 26%; }

  h2.banner-heading { font-size: 46px; }

  p.banner-para { width: 92%; }
  
  figure.banner-img { height: 600px; }

  .banner-controller { right: 16%; }

  .services .wrapper { width: 88%; }

  ul.services-list {
    display: flex;
    position: relative;
    top: -65px;
    flex-direction: column;
  }

  ul.services-list li { width: 100%; }

  .about-us { flex-direction: column;  }

  section.about {  margin-top: 40px;  }

  section.about .wrapper {  width: 88%; }

  .about-content {  
    margin-bottom: 40px;  
    margin-left: 0;
  }

  figure.about-img { width: 100%; }

  .about-content h3 { margin-top: 0; }

  ul.project-list > li:nth-child(1),
  ul.project-list > li:nth-child(2){  display: none;  }

  section.why-choose .wrapper { width: 88%; }

  .choose-us-content {  width: 100%; }

  section.staff .wrapper { width: 88%; }

  section.contact .wrapper { width: 88%; }

  ul.contact-details {  flex-direction: column; }

  ul.contact-details li { width: 100%; }

  .truck-background .wrapper { width: 88%; }

  img.left-truck { display: none; }

  section.testimonial .wrapper { width: 88%; }

  section.footer .wrapper { width: 88%; }

  ul.footer-links { flex-direction: column; }

  ul.footer-links > li:nth-child(1) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  ul.footer-links > li:nth-child(2) { 
    width: 100%; 
    margin-bottom: 20px;
  }

  ul.footer-links > li:nth-child(3) { 
    width: 100%; 
    margin-bottom: 20px;
  }

  ul.footer-links > li:nth-child(4) {
    width: 100%; 
    margin-bottom: 20px;
  }

  .footer-form-input input { width: 94%; }

  .footer-bottom { width: 100%; }

}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) { 
  ul.staff-details li { width: 100%; }

  ul.truck { justify-content: center; }

  figure.truck-img {  width: 100%; }

  img.jcb-truck {
    width: 100%;
    position: relative;
    right: 0;
  }

}